<!DOCTYPE html>
<html>

<head>
    <title>Cloud Image App</title>
</head>

<body>

    <h1>My Cloud Image App</h1>

    <p>
        Welcome,
        <strong>{{ session["username"] }}</strong>
    </p>

    <a href="/logout">
        Logout
    </a>

    <hr>

    <h2>Upload Image</h2>

    <form
        action="/upload"
        method="POST"
        enctype="multipart/form-data"
    >

        <input
            type="file"
            name="image"
            accept="image/*"
            required
        >

        <button type="submit">
            Upload
        </button>

    </form>

    <hr>

    <h2>Your Images</h2>

    {% if images %}

        {% for image in images %}

            <div style="
                margin-bottom: 40px;
                border: 1px solid #ccc;
                padding: 20px;
                width: 300px;
            ">

                <img
                    src="{{ url_for(
                        'view_image',
                        image_id=image[0]
                    ) }}"
                    width="250"
                    alt="{{ image[1] }}"
                >

                <p>
                    <strong>
                        {{ image[1] }}
                    </strong>
                </p>

                <p>
                    Image ID: {{ image[0] }}
                </p>

                <!-- EDIT -->

                <form
                    action="{{ url_for(
                        'edit_image',
                        image_id=image[0]
                    ) }}"
                    method="POST"
                >

                    <input
                        type="text"
                        name="new_filename"
                        placeholder="New filename"
                        required
                    >

                    <button type="submit">
                        Rename
                    </button>

                </form>

                <br>

                <!-- DELETE -->

                <form
                    action="{{ url_for(
                        'delete_image',
                        image_id=image[0]
                    ) }}"
                    method="POST"
                >

                    <button type="submit">
                        Delete
                    </button>

                </form>

            </div>

        {% endfor %}

    {% else %}

        <p>
            No images uploaded yet.
        </p>

    {% endif %}

</body>

</html>